<footer class="footer footer-dark-left">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <div>
          <span class="moto">
            CIDgravity © <span id="year"></span>
          </span>

          <nav class="level is-mobile mt-20">
            <div class="level-left level-social">
              <a href="https://twitter.com/CiDgravity" target="_blank" class="level-item">
                <span class="icon"><i class="fa fa-twitter"></i></span>
              </a>
              <a href="https://github.com/CIDgravity/CIDgravity-X" target="_blank" class="level-item">
                <span class="icon"><i class="fa fa-github"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </div>

      <div class="column">
        <div class="footer-nav-right">
          <a class="footer-nav-link" href="https://docs.cidgravity.com/">Documentation</a>
          <a class="footer-nav-link" href="https://service.cidgravity.com/docs/">API</a>
        </div>
      </div>
    </div>
  </div>
</footer>