<footer class="footer is-small footer-light-left">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <div>
          <span class="moto">
            CIDgravity © <span id="year"></span>
          </span>
        </div>
      </div>

      <div class="column">
        <div class="footer-nav-right">
          <a href="https://twitter.com/CiDgravity" target="_blank" class="level-item">
            <span class="icon"><i class="fa fa-twitter"></i></span>
          </a>
          <a href="https://github.com/CIDgravity/CIDgravity-X" target="_blank" class="level-item">
            <span class="icon"><i class="fa fa-github"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>