<?php
	$slack_webhook_endpoint = "[SLACK_WEBHOOK_ENDPOINT]"; // need to create a slack app to get this url
	$recaptcha_secret = "[RECAPTCHA_SECRET]"; // recaptcha secret, after configuring on google recaptcha
?>