<nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="light-logo" src="assets/img/logos/logo-cidg-light.svg" alt="CIDgravity" />
        <img class="dark-logo switcher-logo" src="assets/img/logos/logo-cidg-dark.svg" alt="CIDgravity" />
      </a>

      <div class="custom-burger" data-target="">
        <a id="" class="responsive-btn" href="javascript:void(0);">
          <span class="menu-toggle">
            <span class="icon-box-toggle">
              <span class="rotate">
                <i class="icon-line-top"></i>
                <i class="icon-line-center"></i>
                <i class="icon-line-bottom"></i>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-slide" href="features-client.html"> As client </a>
        <a class="navbar-item is-slide" href="features-storage-provider.html"> As storage provider </a>
        <a class="navbar-item is-slide" target="_blank" href="https://filecoinproject.slack.com/archives/C04SCAG37FH"> Community </a>
        <a class="navbar-item is-slide" target="_blank" href="https://github.com/CIDgravity/CIDgravity-X"> Github </a>
        <a class="navbar-item is-slide" target="_blank" href="https://status.cidgravity.com/status/cidgravity"> Status </a>
        <a class="navbar-item is-slide" href="contact.html"> Contact </a>

        <div class="navbar-item">
          <a id="#signup-btn" href="https://app.cidgravity.com" class="button button-signup btn-outlined is-bold btn-align light-btn rounded raised">
            Dashboard
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
