<nav class="navbar navbar-wrapper navbar-fade navbar-primary is-transparent">
  <div class="container">
    <div class="navbar-brand is-index is-hidden">
      <a class="navbar-item" href="/">
        <img class="light-logo" src="assets/img/logos/logo-cidg-light.svg" alt="CIDgravity" />
      </a>

      <div class="custom-burger" data-target="">
        <a id="" class="responsive-btn" href="javascript:void(0);">
          <span class="menu-toggle">
            <span class="icon-box-toggle">
              <span class="rotate">
                <i class="icon-line-top"></i>
                <i class="icon-line-center"></i>
                <i class="icon-line-bottom"></i>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-slide white-text" href="solutions.html"> Solutions </a>
        <a class="navbar-item is-slide white-text" href="pricing.html"> Pricing </a>
        <a class="navbar-item is-slide white-text" href="storage-providers.html"> Storage providers </a>
        <a class="navbar-item is-slide white-text" href="about-us.html"> About us </a>
        <a class="navbar-item is-slide white-text" href="contact.html"> Contact </a>
        <a class="navbar-item is-slide white-text" target="_blank" href="https://docs.cidgravity.com"> 
          Tutorials 
          <span class="is-size-4 ml-10">↗</span>
        </a>
        <a class="navbar-item is-slide white-text" target="_blank" href="https://docs.cidgravity.com"> 
          Docs 
          <span class="is-size-4 ml-10">↗</span>
        </a>
        <a class="navbar-item is-slide white-text" target="_blank" href="https://filecoinproject.slack.com/archives/C04SCAG37FH"> 
          Community 
          <span class="is-size-4 ml-10">↗</span>
        </a>
      </div>
    </div>
  </div>
</nav>
